@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #7de5ed, #ff7d7d);
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 30px;
  height: 480px;
  width: 300px;
}

.container h3 {
  font-family: "Freehand", cursive;
  font-weight: 500;
  font-size: 35px;
  color: gray;
}

.container::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.18);
  z-index: -1;
  inset: 0;
  transform: rotate(-12deg);
  border-radius: 10px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
}

::placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: 400;
}

.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 5px 12px;
  margin: 0px 3px 6px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
  color: gray !important;
  white-space: nowrap;
  z-index: 0;
  font-size: 15px;
  font-weight: 550 !important;
  font-family: "Fuzzy Bubbles", cursive;
}

.hbtn i {
  padding-right: 8px;
}

.hb-fill-middle2::before {
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
  transition-duration: 0.5s;
  z-index: -1;
  inset: 0px 0px auto auto;
  width: 0px;
  height: 100%;
  opacity: 1;
}

.hb-fill-middle2:hover::before {
  width: 50%;
  height: 100%;
  opacity: 1;
}

.hb-fill-middle2 {
  background: transparent;
  color: #000;
  transition: color 0.5s ease 0s, background 0s ease 0s;
}

.hb-fill-middle2:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: color 0.5s ease 0s, background 0s ease 0.5s;
}

.hb-fill-middle2::after {
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
  transition-duration: 0.5s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
}

.hb-fill-middle2:hover::after {
  width: 50%;
}

.form-check-label {
  font-size: 14px;
  font-weight: 400;
  font-family: "Fuzzy Bubbles", cursive;
  color: gray;
}

.footer p {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 13px !important;
  color: #333 !important;
  margin-top: 10px;
  font-weight: 500 !important;
}

.footer p a {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 15px !important;
  color: #333 !important;
  text-decoration: none;
  transition: 0.8s;
  cursor: pointer;
}

.footer p a:hover {
  color: blue !important;
  text-decoration: underline;
}

/* responsive part starts from here */

@media (max-width: 540px) {
  .container {
    height: 80%;
    width: 55%;
  }
}


@media (max-width: 420px) {
  .container {
    height: 85%;
    width: 80%;
    overflow: hidden;
  }
}

@media (max-width: 280px) {
  .container {
    overflow: hidden;
    height: 90%;
    width: 85%;
  }

}

/* the end */
